@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.p {
  line-height: 1.5rem;
}

.h2 {
  font-size: 3rem;
}

.text-status-warning {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #e6b76b;
  color: #f6f6f6;
}

.text-status-success {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #5ec383;
  color: #f6f6f6;
}

.text-status-danger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #e66b6d;
  color: #f6f6f6;
}

.button {
  padding: 2px 10px;
}

.btn-outline-primary {
  background-color: rgba(33, 31, 28, 0);
  border-color: #95BD1B;
  color: #95BD1B;
}
.btn-outline-primary:hover {
  background-color: #95BD1B;
  border-color: #95BD1B;
}
.btn-outline-primary:focus {
  background-color: #A0C81E !important;
  border-color: #A0C81E !important;
  color: #ffffff !important;
}

.btn-primary {
  border-radius: 2rem;
  background-color: #95BD1B;
  border-color: #95BD1B;
}
.btn-primary:hover {
  background-color: #A0C81E !important;
  border-color: #A0C81E !important;
}
.btn-primary:focus {
  background-color: #004831 !important;
  border-color: #004831 !important;
}

.nav-link {
  color: #333333;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #95BD1B;
}
.nav-link.active {
  color: #A0C81E !important;
}

.link {
  color: #333333 !important;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.link:hover {
  color: #A0C81E !important;
}

.form-control, .text-area {
  width: 100%;
  height: 2.5rem;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid rgba(33, 31, 28, 0.0862745098);
  background-color: rgba(255, 255, 255, 0.768627451);
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  padding: 1rem 1rem;
  border-radius: 3px;
}
.form-control:focus, .text-area:focus {
  border-color: #A0C81E;
}
.form-control:focus::-webkit-input-placeholder, .text-area:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.form-control:focus::-moz-placeholder, .text-area:focus::-moz-placeholder {
  opacity: 0.5;
}
.form-control:focus:-ms-input-placeholder, .text-area:focus:-ms-input-placeholder {
  opacity: 0.5;
}
.form-control:focus::-ms-input-placeholder, .text-area:focus::-ms-input-placeholder {
  opacity: 0.5;
}
.form-control:focus::placeholder, .text-area:focus::placeholder {
  opacity: 0.5;
}
.form-control::-webkit-input-placeholder, .text-area::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control::-moz-placeholder, .text-area::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control:-ms-input-placeholder, .text-area:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control::-ms-input-placeholder, .text-area::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control::placeholder, .text-area::placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control:hover, .text-area:hover {
  border-color: #95BD1B;
}

.text-area {
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}

::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #95BD1B;
  border-radius: 9em;
}

.checkbox input[type=checkbox] {
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.checkbox input[type=checkbox]:checked + label {
  background-color: #95BD1B;
  font-size: 2rem;
  color: #ffffff;
  border-color: #95BD1B;
}
.checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f6f6f6;
  border: 2px solid #95BD1B;
  border-radius: 0.5rem;
  font-size: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal-reg {
  display: none;
  background-color: rgba(51, 51, 51, 0.5803921569);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}
.modal-reg__content {
  position: fixed;
  top: calc(50% - 337.5px);
  left: calc(50% - 300px);
  z-index: 15;
  width: 600px;
  height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f2f2f7), color-stop(50%, #ffffff));
  background-image: -o-linear-gradient(#f2f2f7 100%, #ffffff 50%);
  background-image: linear-gradient(#f2f2f7 100%, #ffffff 50%);
  padding: 2rem 3rem;
  border-radius: 2rem;
}
.modal-reg__content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
}
.modal-reg__content__head .close:hover {
  color: #95BD1B;
}
.modal-reg__content__head .close:focus {
  color: #A0C81E;
}
.modal-reg__content__link {
  text-decoration: none;
  color: #333333;
  text-decoration: underline;
}
.modal-reg__content__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  padding-left: 1rem;
}
.modal-reg__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.modal-reg__content form input {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  border: 1px solid #ffffff;
}
.modal-reg__content form input:hover {
  border-color: #95BD1B;
}
.modal-reg__content form input:focus {
  border-color: #A0C81E;
}
.modal-reg__content form button {
  padding: 1rem 0;
  color: #ffffff;
  font-size: 1.25rem;
}
.modal-reg__content form p {
  display: block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
}

@-webkit-keyframes click {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  70% {
    width: 140%;
    height: 180%;
    opacity: 0.1;
  }
  100% {
    width: 160%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes click {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  70% {
    width: 140%;
    height: 180%;
    opacity: 0.1;
  }
  100% {
    width: 160%;
    height: 200%;
    opacity: 0;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 0;
  }
}
@keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 0;
  }
}
.arrow-anim-right {
  -webkit-animation: infinite arrow-right 2s linear;
          animation: infinite arrow-right 2s linear;
}

.py-1 {
  padding: 2rem 0;
}

.py-2 {
  padding: 4rem 0;
}

.py-3 {
  padding: 7rem 0;
}

.active {
  display: block !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}

.header {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.header-up {
  width: 100vw;
  height: 40px;
  background-color: #333333;
  padding: 3px 0;
}
.header-up__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 0;
}
.header-up__clock {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}
.header-up__links span {
  color: #ffffff;
}
.header-up__link {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-up__link:hover {
  color: #95BD1B !important;
}
.header-up__link:focus {
  color: #004831 !important;
}
.header-up .button {
  color: #ffffff !important;
}

.header__column {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  font-size: 1.25rem;
}
.header__column .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 150px;
}

main {
  margin-top: 140px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 600px;
}
.slider:hover .slider__layout2 {
  opacity: 1;
}
.slider__layout1 {
  width: 100%;
  height: 600px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.slider__layout2 {
  width: 100%;
  height: 600px;
  position: absolute;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slider__text {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 15%;
  bottom: 35%;
  z-index: 9;
  color: #ffffff;
}
.slider__text .h2 {
  font-size: 4rem;
}
.slider__text--mini {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 9;
}
.slider__text--mini h5 {
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
}
.slider__text--mini p {
  color: #333333;
}
.slider__item::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(149, 189, 27);
  background: -webkit-gradient(linear, left top, right top, from(rgb(149, 189, 27)), color-stop(51%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgb(149, 189, 27) 0%, rgb(255, 255, 255) 51%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgb(149, 189, 27) 0%, rgb(255, 255, 255) 51%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.4;
}
.slider__item--mini {
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.5);
          box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.5);
}
.slider__item--mini::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(80%, rgba(240, 240, 240, 0.7176470588)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #ffffff 0%, rgba(240, 240, 240, 0.7176470588) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, #ffffff 0%, rgba(240, 240, 240, 0.7176470588) 80%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
}
.slider__item--mini img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  object-position: center;
  background-position: center;
  -o-object-position: center !important;
}
.slider__pagination {
  width: 40%;
  height: 45%;
  position: absolute;
  bottom: 10%;
  right: 5%;
  overflow: hidden;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.globus {
  position: relative;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f2f2f7), color-stop(50%, #ffffff));
  background-image: -o-linear-gradient(#f2f2f7 100%, #ffffff 50%);
  background-image: linear-gradient(#f2f2f7 100%, #ffffff 50%);
}
.globus__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.globus__block .svg-image {
  margin-top: 2rem;
  opacity: 0.5;
}
.globus__text {
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 350px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  color: #004831;
}
.globus__text h3 {
  width: 700px;
  font-size: 3rem;
  text-align: center;
  color: #004831;
}
.globus__text p {
  width: 700px;
  font-size: 1.5rem;
  text-align: center;
}

.business {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.business__line {
  width: 100%;
  height: 0.5rem;
  background-color: #004831;
  border-color: 1px solid #95BD1B;
  border-radius: 5px;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.business__numbers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: -20px;
}
.business__numbers span {
  width: 3rem;
  height: 3rem;
  background-color: #004831;
  border: 2px solid #ffffff;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
.business__title {
  width: 60%;
  color: #004831;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}
.business__title h2 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.business__title p {
  text-align: center;
  font-size: 1.25rem;
}
.business__cards {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-animation: show 900ms ease;
          animation: show 900ms ease;
}
.business__card {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
  width: 20%;
  background-color: #ffffff; /* Белый цвет фона */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f2f2f7), color-stop(50%, #ffffff));
  background-image: -o-linear-gradient(#f2f2f7 100%, #ffffff 50%);
  background-image: linear-gradient(#f2f2f7 100%, #ffffff 50%); /* Градиентный фон */
  border-radius: 5px;
  color: #004831;
  padding: 1.5rem;
  position: relative;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}
.business__card--title {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ffffff;
}
.business__card p {
  font-size: 1.25rem;
}

.form h3 {
  font-size: 3rem;
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}
.form__block {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f2f2f7), color-stop(50%, #ffffff));
  background-image: -o-linear-gradient(#f2f2f7 100%, #ffffff 50%);
  background-image: linear-gradient(#f2f2f7 100%, #ffffff 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem 3rem;
  border-radius: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.form__block input {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  border: 1px solid #ffffff;
}
.form__block input:hover {
  border: 1px solid #95BD1B;
}
.form__block input:focus {
  border: 1px solid #95BD1B;
}
.form__block textarea {
  width: 100% !important;
  border-radius: 2rem;
  resize: none;
  min-height: 150px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}
.form__block textarea:hover {
  border: 1px solid #95BD1B;
}
.form__block textarea:focus {
  border: 1px solid #95BD1B;
}
.form__block button {
  width: 25%;
  padding: 1rem 0;
  font-size: 1.25rem;
  color: #ffffff;
}

.modal {
  display: none;
  background-color: rgba(51, 51, 51, 0.5803921569);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}

.modal-content {
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 300px);
  z-index: 15;
  width: 600px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f2f2f7), color-stop(50%, #ffffff));
  background-image: -o-linear-gradient(#f2f2f7 100%, #ffffff 50%);
  background-image: linear-gradient(#f2f2f7 100%, #ffffff 50%);
  padding: 2rem 3rem;
  border-radius: 2rem;
}
.modal-content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
}
.modal-content__head .close:hover {
  color: #95BD1B;
}
.modal-content__head .close:focus {
  color: #A0C81E;
}
.modal-content__link {
  text-decoration: none;
  color: #333333;
  text-decoration: underline;
}
.modal-content__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  padding-left: 1rem;
}
.modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.modal-content form input {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  border: 1px solid #ffffff;
}
.modal-content form input:hover {
  border-color: #95BD1B;
}
.modal-content form input:focus {
  border-color: #A0C81E;
}
.modal-content form button {
  padding: 1rem 0;
  color: #ffffff;
  font-size: 1.25rem;
}
.modal-content form p {
  display: block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
}

footer {
  background-color: #333333;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  padding: 4rem 0;
}
footer .footer__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
footer .footer__block {
  display: grid;
  grid-template-rows: 1fr 5fr;
}
footer .footer__block--title {
  text-transform: uppercase !important;
  font-size: 1.5rem;
}
footer .footer__link .link {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff !important;
}
footer .footer__link .link:hover {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #95BD1B !important;
}
footer .ul__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}