$white: #ffffff;
$lite: #f6f6f6;
$grey: #969696;
$lite-darker: #f2f2f2;
$lite-op: #ffffffc4;

$dark: #333333;
$dark-op: #33333394;
$dark-lite: #292a2a;
$dashed: #8282821f;
$none: #211f1c00;


$shadow-sm: #211f1c16;

$primary: #95BD1B;
$primary-op: rgba(255, 255, 0, 0.8);
$secondary: #A0C81E;

$success: #5ec383;
$danger: #e66b6d;
$warning: #e6b76b;

$bg-color1: #004831 ;